In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\yasha\Desktop\movie\TMDB_movie_dataset_v11.csv")

In [3]:
movie = df
movie.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='object')

In [4]:
df.isnull().sum()

id                            0
title                        16
vote_average                  0
vote_count                    0
status                        0
release_date             259048
revenue                       0
runtime                       0
adult                         0
backdrop_path            968628
budget                        0
homepage                1165910
imdb_id                  659578
original_language             0
original_title               16
overview                 287845
popularity                    0
poster_path              441496
tagline                 1119682
genres                   553600
production_companies     733688
production_countries     610186
spoken_languages         586187
keywords                 968299
dtype: int64

In [5]:
movie["status"].value_counts()

status
Released           1261303
In Production        17504
Post Production      12149
Planned               9403
Rumored                542
Canceled               339
Name: count, dtype: int64

In [6]:
movie = movie.drop(columns=["poster_path","backdrop_path","revenue","runtime","budget","homepage","original_title","poster_path","production_companies"],axis=1)

In [7]:
movie = movie[movie["status"] == "Released"]

In [8]:
movie = movie.dropna(subset=['title'])

In [9]:

movie = movie.dropna(subset=["title"])
movie.isnull().sum()

id                            0
title                         0
vote_average                  0
vote_count                    0
status                        0
release_date             235330
adult                         0
imdb_id                  631747
original_language             0
overview                 278466
popularity                    0
tagline                 1085884
genres                   542614
production_countries     594892
spoken_languages         574281
keywords                 938056
dtype: int64

In [10]:
text_columns = ['overview','genres', 'keywords', 'tagline','release_date', 'imdb_id', 'production_countries', 'spoken_languages']
for col in text_columns:
    movie[col] = movie[col].fillna('')

In [11]:
movie = movie.drop_duplicates()
movie.duplicated().sum()

np.int64(0)

In [12]:
movie.isna().sum()

id                      0
title                   0
vote_average            0
vote_count              0
status                  0
release_date            0
adult                   0
imdb_id                 0
original_language       0
overview                0
popularity              0
tagline                 0
genres                  0
production_countries    0
spoken_languages        0
keywords                0
dtype: int64

In [13]:
movie['combined_text'] = movie['title'] + ' ' + movie['title'] + ' ' + movie['title'] + ' ' + movie['genres'] + ' ' + movie['overview'] + ' ' + movie['keywords'] + ' ' + movie['spoken_languages'] + ' ' + movie['tagline'] + ' ' + movie["production_countries"]

In [14]:
movie = movie.drop(["overview","keywords","original_language","spoken_languages","tagline"],axis=1)

In [15]:
movie["combined_text"] = movie["combined_text"].str.replace(","," ")

In [16]:
movie.head()

,id,title,vote_average,vote_count,status,release_date,adult,imdb_id,popularity,genres,production_countries,combined_text
0,27205,Inception,8.364,34495,Released,2010-07-15,False,tt1375666,83.952,"Action, Science Fiction, Adventure","United Kingdom, United States of America",Inception Inception Inception Action Science ...
1,157336,Interstellar,8.417,32571,Released,2014-11-05,False,tt0816692,140.241,"Adventure, Drama, Science Fiction","United Kingdom, United States of America",Interstellar Interstellar Interstellar Adventu...
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,False,tt0468569,130.643,"Drama, Action, Crime, Thriller","United Kingdom, United States of America",The Dark Knight The Dark Knight The Dark Knigh...
3,19995,Avatar,7.573,29815,Released,2009-12-15,False,tt0499549,79.932,"Action, Adventure, Fantasy, Science Fiction","United States of America, United Kingdom",Avatar Avatar Avatar Action Adventure Fantas...
4,24428,The Avengers,7.710,29166,Released,2012-04-25,False,tt0848228,98.082,"Science Fiction, Action, Adventure",United States of America,The Avengers The Avengers The Avengers Science...

In [17]:
movie['release_date'] = pd.to_datetime(movie['release_date'], errors='coerce')

In [18]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1260932 entries, 0 to 1301239
Data columns (total 12 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1260932 non-null  int64
 1   title                 1260932 non-null  object
 2   vote_average          1260932 non-null  float64
 3   vote_count            1260932 non-null  int64
 4   status                1260932 non-null  object
 5   release_date          1025808 non-null  datetime64[ns]
 6   adult                 1260932 non-null  bool
 7   imdb_id               1260932 non-null  object
 8   popularity            1260932 non-null  float64
 9   genres                1260932 non-null  object
 10  production_countries  1260932 non-null  object
 11  combined_text         1260932 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 116.6+ MB

In [19]:
movie.to_csv(r"C:\Users\yasha\Desktop\movie_recommender\Backend\ml\data\processed\movies_clean.csv",index=False)

In [20]:
movie[movie["production_countries"]=="India"]

,id,title,vote_average,vote_count,status,release_date,adult,imdb_id,popularity,genres,production_countries,combined_text
991,19404,Dilwale Dulhania Le Jayenge,8.552,4256,Released,1995-10-20,False,tt0112870,33.575,"Comedy, Drama, Romance",India,Dilwale Dulhania Le Jayenge Dilwale Dulhania L...
2020,20453,3 Idiots,7.984,2154,Released,2009-12-23,False,tt1187043,28.111,"Drama, Comedy",India,3 Idiots 3 Idiots 3 Idiots Drama Comedy Rasca...
3732,579974,RRR,7.811,1068,Released,2022-03-24,False,tt8178634,40.751,"Action, Drama",India,RRR RRR RRR Action Drama A fictional history ...
3830,7508,Like Stars on Earth,7.976,1037,Released,2007-12-21,False,tt0986264,18.837,Drama,India,Like Stars on Earth Like Stars on Earth Like S...
4319,297222,PK,7.708,881,Released,2014-12-18,False,tt2338151,10.757,"Comedy, Drama, Adventure, Science Fiction",India,PK PK PK Comedy Drama Adventure Science Fic...
...,...,...,...,...,...,...,...,...,...,...,...,...
1301000,812968,Malai,0.000,0,Released,NaT,False,,0.600,,India,Malai Malai Malai An impoverished little boy ...
1301030,813415,Naikar Bhumikay,0.000,0,Released,1972-01-01,False,,0.600,,India,Naikar Bhumikay Naikar Bhumikay Naikar Bhumika...
1301080,813495,Chubare Wali Baari,0.000,0,Released,2021-01-01,False,,0.600,,India,Chubare Wali Baari Chubare Wali Baari Chubare ...
1301153,813207,Uncle: A school in himself,0.000,0,Released,2015-06-10,False,,0.600,,India,Uncle: A school in himself Uncle: A school in ...
1301224,813262,Sadanander Mela,0.000,0,Released,1954-01-01,False,tt0047438,0.843,Drama,India,Sadanander Mela Sadanander Mela Sadanander Mel...