In [324]:
import pandas as pd
import numpy as np

In [325]:
df = pd.read_csv(r"C:\Users\yasha\Desktop\movie\TMDB_movie_dataset_v11.csv")

In [326]:
df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [327]:
movie = df
movie.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='object')

In [328]:
movie.shape

(1301240, 24)

In [329]:
# movie["imdb_id.1"]

In [330]:
df.isnull().sum()

id                            0
title                        16
vote_average                  0
vote_count                    0
status                        0
release_date             259048
revenue                       0
runtime                       0
adult                         0
backdrop_path            968628
budget                        0
homepage                1165910
imdb_id                  659578
original_language             0
original_title               16
overview                 287845
popularity                    0
poster_path              441496
tagline                 1119682
genres                   553600
production_companies     733688
production_countries     610186
spoken_languages         586187
keywords                 968299
dtype: int64

In [331]:
movie.shape

(1301240, 24)

In [332]:
movie["status"].value_counts()

status
Released           1261303
In Production        17504
Post Production      12149
Planned               9403
Rumored                542
Canceled               339
Name: count, dtype: int64

In [333]:
movie = movie[movie["status"]=="Released"]

In [334]:
movie = movie.drop(columns=["revenue", "budget" ,"status","original_title","homepage","release_date"],axis=1)

In [335]:

movie = movie.dropna(subset=["title","backdrop_path","poster_path","imdb_id"])
movie.isnull().sum()

id                           0
title                        0
vote_average                 0
vote_count                   0
runtime                      0
adult                        0
backdrop_path                0
imdb_id                      0
original_language            0
overview                 12993
popularity                   0
poster_path                  0
tagline                 142739
genres                   14682
production_companies     47075
production_countries     29479
spoken_languages         21860
keywords                 93713
dtype: int64

In [336]:
text_columns = ['overview','genres', 'keywords', 'tagline', 'production_countries', 'spoken_languages', 'production_companies']
for col in text_columns:
    movie[col] = movie[col].fillna('')

In [337]:
movie = movie.drop_duplicates()
movie.duplicated().sum()

np.int64(0)

In [338]:
movie.isna().sum()

id                      0
title                   0
vote_average            0
vote_count              0
runtime                 0
adult                   0
backdrop_path           0
imdb_id                 0
original_language       0
overview                0
popularity              0
poster_path             0
tagline                 0
genres                  0
production_companies    0
production_countries    0
spoken_languages        0
keywords                0
dtype: int64

In [339]:
movie.shape

(208429, 18)

In [340]:
movie['combined_text'] = movie['genres'] + ' ' + movie['overview'] + ' ' + movie['keywords'] + ' ' + movie['spoken_languages'] + ' ' + movie['original_language'] + ' ' + movie['tagline'] + ' ' + movie["production_countries"] + " " + movie["production_companies"]

In [341]:
movie = movie.drop(["adult","overview","keywords","original_language","spoken_languages","tagline","production_companies"],axis=1)

In [342]:
movie["combined_text"] = movie["combined_text"].str.replace(","," ")

In [343]:
BASE_URL = "https://image.tmdb.org/t/p/original"
movie['poster_path'] = BASE_URL + movie['poster_path']
movie['backdrop_path'] = BASE_URL + movie['backdrop_path']

In [344]:
movie.head()

,id,title,vote_average,vote_count,runtime,backdrop_path,imdb_id,popularity,poster_path,genres,production_countries,combined_text
0,27205,Inception,8.364,34495,148,https://image.tmdb.org/t/p/original/8ZTVqvKDQ8...,tt1375666,83.952,https://image.tmdb.org/t/p/original/oYuLEt3zVC...,"Action, Science Fiction, Adventure","United Kingdom, United States of America",Action Science Fiction Adventure Cobb a ski...
1,157336,Interstellar,8.417,32571,169,https://image.tmdb.org/t/p/original/pbrkL804c8...,tt0816692,140.241,https://image.tmdb.org/t/p/original/gEU2QniE6E...,"Adventure, Drama, Science Fiction","United Kingdom, United States of America",Adventure Drama Science Fiction The adventur...
2,155,The Dark Knight,8.512,30619,152,https://image.tmdb.org/t/p/original/nMKdUUepR0...,tt0468569,130.643,https://image.tmdb.org/t/p/original/qJ2tW6WMUD...,"Drama, Action, Crime, Thriller","United Kingdom, United States of America",Drama Action Crime Thriller Batman raises t...
3,19995,Avatar,7.573,29815,162,https://image.tmdb.org/t/p/original/vL5LR6WdxW...,tt0499549,79.932,https://image.tmdb.org/t/p/original/kyeqWdyUXW...,"Action, Adventure, Fantasy, Science Fiction","United States of America, United Kingdom",Action Adventure Fantasy Science Fiction In...
4,24428,The Avengers,7.710,29166,143,https://image.tmdb.org/t/p/original/9BBTo63ANS...,tt0848228,98.082,https://image.tmdb.org/t/p/original/RYMX2wcKCB...,"Science Fiction, Action, Adventure",United States of America,Science Fiction Action Adventure When an une...

In [345]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
Index: 208429 entries, 0 to 1301237
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    208429 non-null  int64
 1   title                 208429 non-null  object
 2   vote_average          208429 non-null  float64
 3   vote_count            208429 non-null  int64
 4   runtime               208429 non-null  int64
 5   backdrop_path         208429 non-null  object
 6   imdb_id               208429 non-null  object
 7   popularity            208429 non-null  float64
 8   poster_path           208429 non-null  object
 9   genres                208429 non-null  object
 10  production_countries  208429 non-null  object
 11  combined_text         208429 non-null  object
dtypes: float64(2), int64(3), object(7)
memory usage: 20.7+ MB

In [346]:
movie.shape

(208429, 12)

In [347]:
movie.to_csv(r"C:\Users\yasha\Desktop\movie_recommender\Backend\ml\data\processed\movies_clean.csv",index=False)

In [348]:
movie[movie["production_countries"]=="India"]

,id,title,vote_average,vote_count,runtime,backdrop_path,imdb_id,popularity,poster_path,genres,production_countries,combined_text
991,19404,Dilwale Dulhania Le Jayenge,8.552,4256,190,https://image.tmdb.org/t/p/original/90ez6ArvpO...,tt0112870,33.575,https://image.tmdb.org/t/p/original/ktejodbcdC...,"Comedy, Drama, Romance",India,Comedy Drama Romance Raj is a rich carefree...
2020,20453,3 Idiots,7.984,2154,170,https://image.tmdb.org/t/p/original/u7kuUaySqX...,tt1187043,28.111,https://image.tmdb.org/t/p/original/66A9MqXOyV...,"Drama, Comedy",India,Drama Comedy Rascal. Joker. Dreamer. Genius.....
3732,579974,RRR,7.811,1068,186,https://image.tmdb.org/t/p/original/77GGKq6Ixq...,tt8178634,40.751,https://image.tmdb.org/t/p/original/ljHw5eIMnk...,"Action, Drama",India,Action Drama A fictional history of two legen...
3830,7508,Like Stars on Earth,7.976,1037,165,https://image.tmdb.org/t/p/original/5dF4FNwM2q...,tt0986264,18.837,https://image.tmdb.org/t/p/original/fwXhw9bERq...,Drama,India,Drama Ishaan Awasthi is an eight-year-old whos...
4319,297222,PK,7.708,881,153,https://image.tmdb.org/t/p/original/gxfvtq5eYi...,tt2338151,10.757,https://image.tmdb.org/t/p/original/z2x2Y4tnce...,"Comedy, Drama, Adventure, Science Fiction",India,Comedy Drama Adventure Science Fiction A st...
...,...,...,...,...,...,...,...,...,...,...,...,...
1298976,816779,Intercourse 3,0.000,0,23,https://image.tmdb.org/t/p/original/p7yLuLucLA...,tt12242312,5.722,https://image.tmdb.org/t/p/original/vSsogFEKMj...,"Romance, Comedy",India,Romance Comedy This time it’s double the trou...
1299890,811773,Mission Tiger,0.000,0,83,https://image.tmdb.org/t/p/original/jH6LL4e2L9...,tt5876392,0.600,https://image.tmdb.org/t/p/original/oHvawD32n7...,Adventure,India,Adventure Mission Tiger is the first film feat...
1300238,811949,Ee Kathalo Paathralu Kalpitam,0.000,0,119,https://image.tmdb.org/t/p/original/zxVjVaRPUC...,tt12071618,0.767,https://image.tmdb.org/t/p/original/u2KGLr7dmt...,"Crime, Thriller",India,Crime Thriller Krishna a young man wants to ...
1300345,813737,The Cage of life,0.000,0,0,https://image.tmdb.org/t/p/original/aL9YwNOnI1...,tt13282096,0.600,https://image.tmdb.org/t/p/original/2uqzhdM1Yc...,,India,Hindi hi India Amrutvell Productions
1300370,813863,Sakutumba Sametha,0.000,0,107,https://image.tmdb.org/t/p/original/iCupt22CYX...,tt19845918,1.264,https://image.tmdb.org/t/p/original/7V5HUCuBUF...,Drama,India,Drama Suresh and Shraddha who have matched th...