In [131]:
import pandas as pd
import numpy as np

In [132]:
df = pd.read_csv(r"C:\Users\yasha\Desktop\movie\TMDB_movie_dataset_v11.csv")

In [133]:
movie = df
movie.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='object')

In [134]:
df.isnull().sum()

id                            0
title                        16
vote_average                  0
vote_count                    0
status                        0
release_date             259048
revenue                       0
runtime                       0
adult                         0
backdrop_path            968628
budget                        0
homepage                1165910
imdb_id                  659578
original_language             0
original_title               16
overview                 287845
popularity                    0
poster_path              441496
tagline                 1119682
genres                   553600
production_companies     733688
production_countries     610186
spoken_languages         586187
keywords                 968299
dtype: int64

In [135]:
movie["status"].value_counts()

status
Released           1261303
In Production        17504
Post Production      12149
Planned               9403
Rumored                542
Canceled               339
Name: count, dtype: int64

In [136]:
movie = movie.drop(columns=["poster_path","backdrop_path","revenue","runtime","budget","homepage","original_title","poster_path","production_companies"],axis=1)

In [137]:
movie = movie[movie["status"] == "Released"]

In [138]:
movie = movie.dropna(subset=['title'])

In [139]:

movie = movie.dropna(subset=["title"])
movie.isnull().sum()

id                            0
title                         0
vote_average                  0
vote_count                    0
status                        0
release_date             235330
adult                         0
imdb_id                  631747
original_language             0
overview                 278466
popularity                    0
tagline                 1085884
genres                   542614
production_countries     594892
spoken_languages         574281
keywords                 938056
dtype: int64

In [140]:
text_columns = ['overview','genres', 'keywords', 'tagline','release_date', 'imdb_id', 'production_countries', 'spoken_languages']
for col in text_columns:
    movie[col] = movie[col].fillna('')

In [141]:
movie = movie.drop_duplicates()
movie.duplicated().sum()

np.int64(0)

In [142]:
movie.isna().sum()

id                      0
title                   0
vote_average            0
vote_count              0
status                  0
release_date            0
adult                   0
imdb_id                 0
original_language       0
overview                0
popularity              0
tagline                 0
genres                  0
production_countries    0
spoken_languages        0
keywords                0
dtype: int64

In [143]:
movie['combined_text'] = movie['genres'] + ' ' + movie['overview'] + ' ' + movie['keywords'] + ' ' + movie['spoken_languages'] + ' ' + movie['tagline']

In [144]:
movie = movie.drop(["genres","overview","keywords","original_language","spoken_languages","tagline"],axis=1)

In [145]:
movie["combined_text"] = movie["combined_text"].str.replace(","," ")

In [146]:
movie.head()

,id,title,vote_average,vote_count,status,release_date,adult,imdb_id,popularity,production_countries,combined_text
0,27205,Inception,8.364,34495,Released,2010-07-15,False,tt1375666,83.952,"United Kingdom, United States of America",Action Science Fiction Adventure Cobb a ski...
1,157336,Interstellar,8.417,32571,Released,2014-11-05,False,tt0816692,140.241,"United Kingdom, United States of America",Adventure Drama Science Fiction The adventur...
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,False,tt0468569,130.643,"United Kingdom, United States of America",Drama Action Crime Thriller Batman raises t...
3,19995,Avatar,7.573,29815,Released,2009-12-15,False,tt0499549,79.932,"United States of America, United Kingdom",Action Adventure Fantasy Science Fiction In...
4,24428,The Avengers,7.710,29166,Released,2012-04-25,False,tt0848228,98.082,United States of America,Science Fiction Action Adventure When an une...

In [147]:
movie['release_date'] = pd.to_datetime(movie['release_date'], errors='coerce')

In [149]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1260932 entries, 0 to 1301239
Data columns (total 11 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1260932 non-null  int64
 1   title                 1260932 non-null  object
 2   vote_average          1260932 non-null  float64
 3   vote_count            1260932 non-null  int64
 4   status                1260932 non-null  object
 5   release_date          1025808 non-null  datetime64[ns]
 6   adult                 1260932 non-null  bool
 7   imdb_id               1260932 non-null  object
 8   popularity            1260932 non-null  float64
 9   production_countries  1260932 non-null  object
 10  combined_text         1260932 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(2), int64(2), object(5)
memory usage: 107.0+ MB

In [152]:
movie.to_csv(r"C:\Users\yasha\Desktop\movie_recommender\Backend\ml\data\processed\movies_clean.csv",index=False)