In [236]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("data\processed\movies_with_trailers_safe.csv")

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\yasha\AppData\Local\Temp\ipykernel_27076\2280946808.py:1: SyntaxWarning: invalid escape sequence '\d'
  df = pd.read_csv("..\data\processed\movies_with_trailers_safe.csv")
C:\Users\yasha\AppData\Local\Temp\ipykernel_27076\2280946808.py:1: DtypeWarning: Columns (12,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("..\data\processed\movies_with_trailers_safe.csv")

In [238]:
df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords,trailer_link
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc...",https://www.youtube.com/watch?v=JE9z-gy4De4
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,...",https://www.youtube.com/watch?v=LY19rHKAaAg
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f...",https://www.youtube.com/watch?v=vbjYVETxZqM
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ...",https://www.youtube.com/watch?v=jm2sNLIPPvA
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com...",https://www.youtube.com/watch?v=hIR8Ar-Z4hw

In [239]:
movie = df
movie.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords', 'trailer_link'],
      dtype='object')

In [240]:
movie.shape

(1301240, 25)

In [241]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1301240 entries, 0 to 1301239
Data columns (total 25 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1301240 non-null  int64
 1   title                 1301224 non-null  object
 2   vote_average          1301240 non-null  float64
 3   vote_count            1301240 non-null  int64
 4   status                1301240 non-null  object
 5   release_date          1042192 non-null  object
 6   revenue               1301240 non-null  int64
 7   runtime               1301240 non-null  int64
 8   adult                 1301240 non-null  bool
 9   backdrop_path         332612 non-null   object
 10  budget                1301240 non-null  int64
 11  homepage              135330 non-null   object
 12  imdb_id               361807 non-null   object
 13  original_language     1301240 non-null  object
 14  original_title        1301224 non-null  object
 15  overview              1013395 non-null  object
 16  popularity            1301240 non-null  float64
 17  poster_path           859744 non-null   object
 18  tagline               181558 non-null   object
 19  genres                747640 non-null   object
 20  production_companies  567552 non-null   object
 21  production_countries  691054 non-null   object
 22  spoken_languages      715053 non-null   object
 23  keywords              332941 non-null   object
 24  trailer_link          112847 non-null   object
dtypes: bool(1), float64(2), int64(5), object(17)
memory usage: 239.5+ MB

In [242]:
df.isnull().sum()

id                            0
title                        16
vote_average                  0
vote_count                    0
status                        0
release_date             259048
revenue                       0
runtime                       0
adult                         0
backdrop_path            968628
budget                        0
homepage                1165910
imdb_id                  939433
original_language             0
original_title               16
overview                 287845
popularity                    0
poster_path              441496
tagline                 1119682
genres                   553600
production_companies     733688
production_countries     610186
spoken_languages         586187
keywords                 968299
trailer_link            1188393
dtype: int64

In [243]:
movie.shape

(1301240, 25)

In [244]:
movie["status"].value_counts()

status
Released           1261303
In Production        17504
Post Production      12149
Planned               9403
Rumored                542
Canceled               339
Name: count, dtype: int64

In [245]:
movie = movie[movie["status"]=="Released"]

In [246]:
movie = movie.drop(columns=["revenue", "budget" ,"status","original_title","homepage"],axis=1)

In [247]:

movie = movie.dropna(subset=["title","backdrop_path","poster_path"])
movie.isnull().sum()

id                           0
title                        0
vote_average                 0
vote_count                   0
release_date             12091
runtime                      0
adult                        0
backdrop_path                0
imdb_id                 152305
original_language            0
overview                 43419
popularity                   0
poster_path                  0
tagline                 234048
genres                   57472
production_companies     95014
production_countries     74128
spoken_languages         61478
keywords                159326
trailer_link            241811
dtype: int64

In [248]:
movie.shape

(318186, 20)

In [249]:
text_columns = ['overview','genres', 'keywords', 'tagline', 'production_countries', 'spoken_languages', 'production_companies','trailer_link']
for col in text_columns:
    movie[col] = movie[col].fillna('')

In [250]:
movie = movie.drop_duplicates()
movie.duplicated().sum()

np.int64(0)

In [251]:
movie.isna().sum()

id                           0
title                        0
vote_average                 0
vote_count                   0
release_date             12088
runtime                      0
adult                        0
backdrop_path                0
imdb_id                 152286
original_language            0
overview                     0
popularity                   0
poster_path                  0
tagline                      0
genres                       0
production_companies         0
production_countries         0
spoken_languages             0
keywords                     0
trailer_link                 0
dtype: int64

In [252]:
movie.shape

(318158, 20)

In [253]:
movie['combined_text'] = movie['genres'] + ' ' + movie['overview'] + ' ' + movie['keywords'] + ' ' + movie['spoken_languages'] + ' ' + movie['original_language'] + ' ' + movie['tagline'] + ' ' + movie["production_countries"] + " " + movie["production_companies"]

In [254]:
movie = movie.drop(["adult","overview","keywords","original_language","spoken_languages","tagline","production_companies"],axis=1)

In [255]:
movie["combined_text"] = movie["combined_text"].str.replace(","," ")

In [256]:
BASE_URL = "https://image.tmdb.org/t/p/original"
movie['poster_path'] = BASE_URL + movie['poster_path']
movie['backdrop_path'] = BASE_URL + movie['backdrop_path']

In [257]:
movie['release_date'] = pd.to_datetime(movie['release_date'], errors='coerce')

In [258]:
movie.head()

,id,title,vote_average,vote_count,release_date,runtime,backdrop_path,imdb_id,popularity,poster_path,genres,production_countries,trailer_link,combined_text
0,27205,Inception,8.364,34495,2010-07-15,148,https://image.tmdb.org/t/p/original/8ZTVqvKDQ8...,tt1375666,83.952,https://image.tmdb.org/t/p/original/oYuLEt3zVC...,"Action, Science Fiction, Adventure","United Kingdom, United States of America",https://www.youtube.com/watch?v=JE9z-gy4De4,Action Science Fiction Adventure Cobb a ski...
1,157336,Interstellar,8.417,32571,2014-11-05,169,https://image.tmdb.org/t/p/original/pbrkL804c8...,tt0816692,140.241,https://image.tmdb.org/t/p/original/gEU2QniE6E...,"Adventure, Drama, Science Fiction","United Kingdom, United States of America",https://www.youtube.com/watch?v=LY19rHKAaAg,Adventure Drama Science Fiction The adventur...
2,155,The Dark Knight,8.512,30619,2008-07-16,152,https://image.tmdb.org/t/p/original/nMKdUUepR0...,tt0468569,130.643,https://image.tmdb.org/t/p/original/qJ2tW6WMUD...,"Drama, Action, Crime, Thriller","United Kingdom, United States of America",https://www.youtube.com/watch?v=vbjYVETxZqM,Drama Action Crime Thriller Batman raises t...
3,19995,Avatar,7.573,29815,2009-12-15,162,https://image.tmdb.org/t/p/original/vL5LR6WdxW...,tt0499549,79.932,https://image.tmdb.org/t/p/original/kyeqWdyUXW...,"Action, Adventure, Fantasy, Science Fiction","United States of America, United Kingdom",https://www.youtube.com/watch?v=jm2sNLIPPvA,Action Adventure Fantasy Science Fiction In...
4,24428,The Avengers,7.710,29166,2012-04-25,143,https://image.tmdb.org/t/p/original/9BBTo63ANS...,tt0848228,98.082,https://image.tmdb.org/t/p/original/RYMX2wcKCB...,"Science Fiction, Action, Adventure",United States of America,https://www.youtube.com/watch?v=hIR8Ar-Z4hw,Science Fiction Action Adventure When an une...

In [259]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
Index: 318158 entries, 0 to 1301237
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    318158 non-null  int64
 1   title                 318158 non-null  object
 2   vote_average          318158 non-null  float64
 3   vote_count            318158 non-null  int64
 4   release_date          306070 non-null  datetime64[ns]
 5   runtime               318158 non-null  int64
 6   backdrop_path         318158 non-null  object
 7   imdb_id               165872 non-null  object
 8   popularity            318158 non-null  float64
 9   poster_path           318158 non-null  object
 10  genres                318158 non-null  object
 11  production_countries  318158 non-null  object
 12  trailer_link          318158 non-null  object
 13  combined_text         318158 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(8)
memory usage: 36.4+ MB

In [260]:
movie.shape

(318158, 14)

In [ ]:
movie.to_csv("data/processed/movies_clean.csv",index=False)

In [262]:
movie[movie["trailer_link"] != ""]

,id,title,vote_average,vote_count,release_date,runtime,backdrop_path,imdb_id,popularity,poster_path,genres,production_countries,trailer_link,combined_text
0,27205,Inception,8.364,34495,2010-07-15,148,https://image.tmdb.org/t/p/original/8ZTVqvKDQ8...,tt1375666,83.952,https://image.tmdb.org/t/p/original/oYuLEt3zVC...,"Action, Science Fiction, Adventure","United Kingdom, United States of America",https://www.youtube.com/watch?v=JE9z-gy4De4,Action Science Fiction Adventure Cobb a ski...
1,157336,Interstellar,8.417,32571,2014-11-05,169,https://image.tmdb.org/t/p/original/pbrkL804c8...,tt0816692,140.241,https://image.tmdb.org/t/p/original/gEU2QniE6E...,"Adventure, Drama, Science Fiction","United Kingdom, United States of America",https://www.youtube.com/watch?v=LY19rHKAaAg,Adventure Drama Science Fiction The adventur...
2,155,The Dark Knight,8.512,30619,2008-07-16,152,https://image.tmdb.org/t/p/original/nMKdUUepR0...,tt0468569,130.643,https://image.tmdb.org/t/p/original/qJ2tW6WMUD...,"Drama, Action, Crime, Thriller","United Kingdom, United States of America",https://www.youtube.com/watch?v=vbjYVETxZqM,Drama Action Crime Thriller Batman raises t...
3,19995,Avatar,7.573,29815,2009-12-15,162,https://image.tmdb.org/t/p/original/vL5LR6WdxW...,tt0499549,79.932,https://image.tmdb.org/t/p/original/kyeqWdyUXW...,"Action, Adventure, Fantasy, Science Fiction","United States of America, United Kingdom",https://www.youtube.com/watch?v=jm2sNLIPPvA,Action Adventure Fantasy Science Fiction In...
4,24428,The Avengers,7.710,29166,2012-04-25,143,https://image.tmdb.org/t/p/original/9BBTo63ANS...,tt0848228,98.082,https://image.tmdb.org/t/p/original/RYMX2wcKCB...,"Science Fiction, Action, Adventure",United States of America,https://www.youtube.com/watch?v=hIR8Ar-Z4hw,Science Fiction Action Adventure When an une...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
554883,1164586,The Battle At Our Shores,0.000,0,2001-10-15,48,https://image.tmdb.org/t/p/original/yhkZiNGxj3...,NaN,0.600,https://image.tmdb.org/t/p/original/wnwqjErVTq...,Documentary,Canada,https://www.youtube.com/watch?v=evGDeseuB9I,Documentary The Battle At Our Shores is a docu...
554896,1164600,Rudy Haase,0.000,0,2007-04-30,51,https://image.tmdb.org/t/p/original/pBO45nZ85e...,NaN,0.600,https://image.tmdb.org/t/p/original/2tjIjwItCn...,Documentary,Canada,https://www.youtube.com/watch?v=VYBvybMtojs,Documentary A biography about Canada's great u...
554912,1164616,A Sun Like Nowhere Else,0.000,0,1972-03-01,47,https://image.tmdb.org/t/p/original/88P9UV4cn2...,tt0243632,0.600,https://image.tmdb.org/t/p/original/uTeAxcIEzK...,Documentary,Canada,https://www.youtube.com/watch?v=_sBoXps4gXA,Documentary A film that witnesses the Acadian ...
554921,1165017,Helga: A Human Requiem,0.000,0,2022-11-11,20,https://image.tmdb.org/t/p/original/xI9TuHb9SP...,NaN,0.600,https://image.tmdb.org/t/p/original/v9XKuaq0zP...,Science Fiction,Brazil,https://www.youtube.com/watch?v=x-D64jkjIvg,Science Fiction When Amadeus Klein loses the o...
554976,1165006,Zindagi Tamasha | Behind the Film,0.000,0,NaT,19,https://image.tmdb.org/t/p/original/nM6tJpytih...,NaN,0.600,https://image.tmdb.org/t/p/original/xO9SMTECIJ...,Documentary,,https://www.youtube.com/watch?v=Y97FjUVkGj4,Documentary Sarmad Khoosat talks in detail abo...